@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*{
    font-family: 'Josefin Sans';
    outline: none
}

body{
    @apply bg-neutral-50;
}

div[role = 'tooltip'] > div{
  @apply text-black border border-neutral-100 bg-white shadow-md shadow-gray-100;
}

div[role = 'tooltip'] span::before{
  @apply bg-white border border-neutral-200;
}